{% extends 'base.html' %}

{% block content %}
<main>
    <form id="newGroupMemberForm" class="p-2" method="POST" action="/add-member/{{ group_id }}">
        <div class="mb-3">
            <label for="expensePaidBy" class="form-label">Friends</label>
            <select name="members" id="members" multiple>
                {% for friend in friends %}
                <option value="{{ friend.user_id }}">
                    {{ friend.first_name }} {{ friend.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add member</button>
    </form>

</main>
{% endblock content %}